---
http_interactions:
- request:
    method: get
    uri: https://www.vestorly.com/api/v1/advisors/wisz/posts.json?vestorly-auth=eyJwYXlsb2FkIjoiNGY2NTQyYzBjZmI0OTMwMDAxMDAwMDEzIiwiY3JlYXRlZF9vbiI6MTM5NjQ2MTg2MCwic2lnbmF0dXJlIjoiUzdYV1h6d2VaNk5vZWZialoxeGFrQmNlQjM0VktEb0s1bytRTGZOckZyST0ifQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4886be04309d3715827e6e3fd8e296a6"'
    body:
      encoding: UTF-8
      string: '{"posts":[{"_id":"4f7cd18feb2f970001000229","advisor_id":"4f6542c0cfb4930001000013","attachment":"","attachment_thumbnail_content_type":null,"attachment_thumbnail_file_name":null,"attachment_thumbnail_file_size":null,"attachment_thumbnail_fingerprint":null,"attachment_thumbnail_updated_at":null,"body":"
        \r\n\t\t<p>Dear Clients and Friends,</p>\r\n\t\t<p>We are excited to have
        been accepted to the Vestorly platform!  You can now access all of our published
        thoughts in one private space.  You can also privately share our ideas with
        friends and family, or connect them with us.</p>\r\n\t\t<p>Vestorly only allows
        the nation''s leading investment advisors and their clients to participate,
        so we are proud of this achievement.  The approval process separates us from
        insurance salespeople, stockbrokers, and other financial service providers
        who do NOT have your best interest in mind.  In addition to our regularly
        scheduled e-mails and one-on-one meetings, you can now come to this space
        whenever you like to check our timely thoughts on the market, and general
        updates about our portfolio strategy.  Feel free to share this information
        with friends and family who need it now more than ever.</p>\r\n\t\t<p>We value
        our relationship with you and look forward to getting better connected!</p>\r\n\t","client_only":false,"down_votes":0,"draft_post_id":null,"external_url":null,"external_url_source":null,"for_approval":false,"from_newscred":false,"has_sent":false,"image_big_url":null,"image_small_url":null,"img":"","impressions_count":null,"is_added_to_newsletter":false,"is_clone":false,"is_curate":false,"is_draft":false,"is_pre_approved":true,"link":null,"logo_url":null,"message_clicks":0,"message_sign_ups":0,"messages":0,"needs_sanitize":true,"newsletter_sent_at":null,"number_of_views":0,"parent_post_id":null,"post_date":"2012-04-04T04:00:00+00:00","prospect_only":false,"publish_to_social":null,"published_at":null,"published_post_cacheid":null,"random":0.4221587375277964,"s3_folder":null,"send_on_publish":false,"slug":"we-are-now-using-vestorly-to-stay-connected-with-you-1","slug_history":[],"title":"We
        are now using Vestorly to stay connected with you!","unpublished_at":null,"up_votes":0,"url_content_type":null,"url_file_name":null,"url_file_size":null,"url_updated_at":null,"video":"","wall_post_clicks":0,"wall_post_sign_ups":0,"wall_posts":0,"webpage_image_id":null,"pre_approval_status":"Approved","summary":"
        <p>Dear Clients and Friends,</p> <p>We are excited to have been accepted to
        the Vestorly platform! You can now access all of our published thoughts in
        one private space. You can also privately share our ideas with<span class=\"continue\">
        ...(continued)</span></p>","external_url_type":"basic","pdf_attachment_url":null,"video_id":"","image_url":null,"is_all_view":false,"is_published":true,"is_published_view":true,"is_newsletter_view":false,"is_recommend_view":false},{"_id":"4f85d0bb61029e0001000062","advisor_id":"4f6542c0cfb4930001000013","attachment":"","attachment_thumbnail_content_type":null,"attachment_thumbnail_file_name":null,"attachment_thumbnail_file_size":null,"attachment_thumbnail_fingerprint":null,"attachment_thumbnail_updated_at":null,"body":"<p><p
        style=\"margin-bottom: 10px; padding-top: 0px; padding-right: 0px; padding-left:
        0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width:
        0px; border-left-width: 0px; border-style: initial; border-color: initial;
        border-image: initial; outline-width: 0px; outline-style: initial; outline-color:
        initial; font-size: 16px; vertical-align: baseline; background-image: initial;
        background-attachment: initial; background-origin: initial; background-clip:
        initial; background-color: rgb(255, 255, 255); line-height: 1.4; font-family:
        Georgia, serif; \"><strong style=\"margin-top: 0px; margin-right: 0px; margin-bottom:
        0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom:
        0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width:
        0px; border-left-width: 0px; border-style: initial; border-color: initial;
        border-image: initial; outline-width: 0px; outline-style: initial; outline-color:
        initial; font-size: 16px; vertical-align: baseline; background-image: init[...]
