---
http_interactions:
- request:
    method: get
    uri: https://api.vestorly.com/api/v1/advisors/rodas/advisor_user_entries.json?filter_by=prospects&vestorly-auth=testuathtokenapi
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Api-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cbe7edeecbcc5a6baea5b69193067b2d"'
    body:
      encoding: UTF-8
      string: '{"members":[{"_id":"53a4c1acfc4674b330000019","added_by":"","added_on":"2014-06-20T23:20:12+00:00","address":null,"advisor_id":"534d9ebfb034d500020004fd","age":"45-54","assets":0.0,"city":null,"client_id":"53a4c1acfc4674b330000018","created_at":"2014-06-20T23:20:12Z","education":"","email":"just@mehere.com","email_types":[],"estimated_location":null,"estimated_zip":null,"facebook_id":null,"family":"\u00c7\u008b\u0090\u00e7\u008b\u00b8,
        Bon Ami, Monica Dahl, Bon,","first_name":null,"from":null,"from_name":null,"gender":"","group_id":"5372e1b1f79a9600020000b2","has_advisor":false,"has_children":false,"have_advisor":false,"high_net_worth":false,"home_market_value":"","home_owner_status":"","hometown":null,"household_income":"","interest_change_portfolio":false,"interest_consultation":"Not
        Yet","interest_in_new_advisor":false,"interest_want_to_learn_more":false,"invitation_code":"76472d1bace76f9c4ce4cb20dd2f9fe5318a124f9c00d4105f25b3a4e4263d94","invitations":0,"invited_by":"David
        Rodas","invited_on":"2014-06-20","is_client":false,"is_hidden":false,"last_active_date":"2014-06-21T00:22:18+00:00","last_name":"manderin","last_pipl_date":"2014-06-27T02:25:43+00:00","last_rapleaf_date":"2014-06-27T02:25:43+00:00","last_raportive_date":"1994-08-04T02:23:49+00:00","last_reminded_on":null,"last_social_date":"2014-08-21T23:37:27+00:00","linkedin_id":null,"location":"Moscow,
        Russian Federation","marital_status":"","message":null,"message_clicks":0,"message_sign_ups":0,"messages":0,"name":"Dario
        Di Nolfo","newsletter_frequency":"weekly","notes":"","occupation":"","phone":"845-411-0001","picture_url":"http://2.bp.blogspot.com/_RpcIOuO_GfM/TOpspLqg4GI/AAAAAAAAAD8/EPc7taPLg58/s1600/protos.gif","portfolio_size":"Unknown","posts_read":3,"raportive_retry_count":-1,"redtail_contact_id":0,"register_ip_addr":"63.247.171.62","reminder_unsubscribed":false,"salesforce_account_id":null,"salesforce_contact_id":null,"salesforce_lead_id":null,"shares":0,"signed_up":"Email","signed_up_with":"Not
        yet","sorting_name":" manderin","sorting_portfolio_size":-1,"sorting_signup":0,"sourced_by_vestorly":false,"state":null,"tags":"Brussels,
        Luxembourg, \u00c9vian-les-Bains, Rome, Cologne, Le Palais","unsubscribed":false,"unsubscribed_date":null,"updated_at":"2014-09-05T03:46:02Z","user_type":"AdvisorProspect","wall_post_clicks":0,"wall_post_sign_ups":0,"wall_posts":0,"was_advisor_user":false,"working":false,"zip":"","last_active":"3
        months","allow_connected":true},{"_id":"538df59a0a41e70002000884","added_by":"","added_on":"2014-06-03T16:19:38+00:00","address":null,"advisor_id":"534d9ebfb034d500020004fd","age":"25-34","assets":null,"city":null,"client_id":null,"created_at":"2014-06-03T16:19:38Z","education":"","email":"am@am.com","email_types":[],"estimated_location":null,"estimated_zip":null,"facebook_id":null,"family":null,"first_name":"Another","from":null,"from_name":null,"gender":"Male","group_id":"5372e1b1f79a9600020000b2","has_advisor":false,"has_children":false,"have_advisor":false,"high_net_worth":false,"home_market_value":"","home_owner_status":"","hometown":null,"household_income":"","interest_change_portfolio":false,"interest_consultation":"Not
        Yet","interest_in_new_advisor":false,"interest_want_to_learn_more":false,"interests":null,"invitation_code":"294562b0acc28bd408b6777e2333f6d7f9b4be9e94db3588c1e9fca10220920d","invitations":0,"invited_by":"David
        Rodas","invited_on":"2014-06-03","is_client":false,"is_hidden":false,"last_active_date":null,"last_name":"Am","last_pipl_date":"2014-06-27T02:21:59+00:00","last_rapleaf_date":"2014-06-27T02:21:59+00:00","last_raportive_date":"1994-08-04T02:23:51+00:00","last_reminded_on":null,"last_social_date":"2014-09-04T04:14:11+00:00","linkedin_id":null,"location":"","marital_[...]
