---
http_interactions:
- request:
    method: get
    uri: https://www.vestorly.com/api/v1/advisors/wisz/advisor_user_entries.json?filter_by=prospects&vestorly-auth=eyJwYXlsb2FkIjoiNGY2NTQyYzBjZmI0OTMwMDAxMDAwMDEzIiwiY3JlYXRlZF9vbiI6MTM5NjQ2MTg2MCwic2lnbmF0dXJlIjoiUzdYV1h6d2VaNk5vZWZialoxeGFrQmNlQjM0VktEb0s1bytRTGZOckZyST0ifQ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8d79f6c7b839fc760f5e12e148555f32"'
    body:
      encoding: UTF-8
      string: '{"members":[{"_id":"5237885057e3520002000567","added_by":"","added_on":"2013-06-14T16:27:54+00:00","address":null,"advisor_id":"4f6542c0cfb4930001000013","age":"","assets":0.0,"city":null,"client_id":null,"education":"","email":null,"email_types":[],"estimated_location":null,"estimated_zip":null,"facebook_id":null,"family":null,"first_name":"Alain","gender":"","has_advisor":false,"have_advisor":false,"high_net_worth":null,"home_market_value":"","home_owner_status":"","hometown":null,"household_income":"","interest_change_portfolio":false,"interest_consultation":"Not
        Yet","interest_in_new_advisor":false,"interest_want_to_learn_more":false,"invitation_code":"e1ddc04dcc3d8c90c6c40408f355b67b6239faae01a12f6fa4b3b31831609e56","invitations":0,"invited_by":"Melissa
        Linkedin","invited_on":"2013-06-14","ip":null,"is_client":null,"last_active_date":null,"last_name":"Hammersticks","last_pipl_date":"2014-01-27T16:39:51+00:00","last_rapleaf_date":"1993-10-18T04:57:40+00:00","last_reminded_on":null,"last_social_date":"2014-01-27T16:39:50+00:00","linkedin_id":"v_neTqSiCy","location":"","marital_status":"","message":"","message_clicks":0,"message_sign_ups":0,"messages":0,"name":null,"newsletter_frequency":"weekly","notes":"","occupation":"","phone":"","picture_url":"","portfolio_size":"Unknown","posts_read":0,"register_ip_addr":null,"reminder_unsubscribed":false,"salesforce_account_id":null,"salesforce_lead_id":null,"shares":0,"signed_up_with":null,"sorting_name":"alain
        hammersticks","sorting_portfolio_size":-1,"sorting_signup":3,"sourced_by_vestorly":false,"state":null,"tags":null,"unsubscribed":false,"unsubscribed_date":null,"user_type":"AdvisorProspect","wall_post_clicks":0,"wall_post_sign_ups":0,"wall_posts":0,"was_advisor_user":false,"working":false,"zip":"","signed_up":"Not
        yet","last_active":"Not yet","allow_connected":false},{"_id":"5237885057e352000200054e","added_by":"","added_on":"2013-06-03T13:28:23+00:00","address":null,"advisor_id":"4f6542c0cfb4930001000013","age":"","assets":0.0,"city":null,"client_id":"51f19433b152c70002000026","education":"","email":"ananth.muniyappa@gmail.com","email_types":[],"estimated_location":null,"estimated_zip":null,"facebook_id":null,"family":null,"first_name":"Ananth","gender":"Male","has_advisor":false,"have_advisor":false,"high_net_worth":null,"home_market_value":"","home[...]
